---
title: Tags
seleventyExcludeFromCollections: true
permalink: "/{{ page.filePathStem }}.htm"
layout: base
eleventyImport:
  collections: ["posts", "arduino", "sfc", "eleventy"]
---

      <blockquote class='taglist'>
  {%- for tag in collections | getAllUsedTags %}
      <a href="/tags/{{ tag | slugify }}.htm" class="post-tag" style="display:inline-block;margin-bottom:0.4em">#{{ tag }}</a><br />
  {%- endfor %}
      </blockquote>
