---
title: Title
permalink: "{{ page.filePathStem }}.htm"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description }}" />
    <link Content-Type="text/css" href="/docstyle.css" rel="stylesheet" />
    <style>
      :root {
        --main-width: 48em;
      }

      .taglist {
        // background-color: yellow;
        > a {
          display: inline-block;
          height: 1.6em;
          background: #203050;
          text-align: center;
          padding: 0.2em 0.6em;
          position: relative;
          margin-right: 1em;
          text-decoration: none;
          color: #fff;
        }
        > a::after {
          content: "";
          border-top: 0.8em solid transparent;
          border-bottom: 0.8em solid transparent;
          border-left: 0.8em solid #203050;
          position: absolute;
          right: -0.8em;
          top: 0;
        }
      }
    </style>
    <style>{% getBundle "css" %}</style>
    <title>{{ title }}</title>
    <script src="/sfc/loader.js"></script>
    <script>loadComponent('u-time')</script>
  </head>

  <body class="sitelayout">
    <header>
      <img
        class="logo"
        src="/img/logo.svg"
        alt="Give and Take - Create, Share, Search and Read"
        title="Give and Take - Create, Share, Search and Read"
      />

      <a href="//www.mathertel.de" class="logo" title="Home">mathertel.de</a>
      <a href="/../arduino/" class="COLOR_ARDUINO">Arduino</a>

      <a href="/../homeding/" class="COLOR_IOT">HomeDing</a>
      <a href="/../blog/" class="COLOR_BLOG">Blog</a>
      <a href="/../archiv/" class="COLOR_ARCHIVE">Archive</a>
    </header>

    <nav class="sidebar">

      <h3>Popular tags</h3>

      <div class='taglist'>
        <a href="/tags/arduino.htm" style="margin-bottom:0.4em;">#arduino</a><br/>
        <a href="/tags/sfc.htm" style="margin-bottom:0.4em;">#sfc</a><br/> 
        <a href="/tags/eleventy.htm" style="margin-bottom:0.4em;">#eleventy</a><br/>
      </div>

    {%- if not isProduction -%}
      <hr>
      <p><a href="/tags/index.htm">All Tags</a></p>
      <p><a href="/archive.htm">List of archived posts</a></p>
      <p><a href="/sitemap.xml">Sitemap</a></p>
    {%- endif -%}
    </nav>

    <main>
      <p class="noprint" style="text-align: center; font-size: 0.8em">
        Thoughs and records on IoT, Web Sites and Microprocessors.
      </p>
      <h1 style="text-align: center">{{ title }}</h1>
      {{ content | safe }}
    </main>

    <footer>
      <a href="/about.md">About</a>
      &mdash;
      <a href="https://www.mathertel.de/impressum.aspx">Legal Statement</a>
      &mdash; <a href="/license.md">License</a>
    </footer>
  </body>
</html>
