{# Macros to be included into --layouts and templates #}
{# {% from 'macros.njk' import postCard with context %} #}

{# Render a card about a blog post using page metadata #}
{% macro postCard(post) %}
<div class="card autolink">
  {%- if (post.data.image) -%}
    <img src="{{ post.data.image }}" alt="{{ imageAlt }}" title="{{ imageAlt }}"/>
  {%- endif %}
  <div class="main">
    <h3><a  class="postlist-link" href="{{ post.url }}">{{ post.data.title }}</a></h3>
    {{ post.data.description | markdown | safe -}}
  </div>
  <div class="footer">
  <p><time is='u-time' datetime='{{ post.data.modified | toISODate }}' datestyle='medium' timestyle='none'>
    {{ post.data.modified | toISODate }}</time> | 
    {% if tags %}
      <span class='taglist'>
        {%- for tag in post.data.tags | unique -%}
          <a href="/tags/{{ tag  | lower }}.htm">#{{ tag }}</a>
        {%- endfor -%}
      </span>
    {% endif %}
  </p>
  </div>
</div>
{%- endmacro %}
