{%- css %}

{% endcss %}

{% from 'macros.njk' import postCard with context %}
<div class="card-container horizontal" style="--card-image-size: 200px;--card-height: 200px;">
  {%- for post in postslist | reverse %}
    {{ postCard(post) }}
  {%- endfor %}
</div>