---
title: Title
permalink: "{{ page.filePathStem }}.htm"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ description }}"/>
    <link content-type="text/css" href="/docstyle.css" rel="stylesheet"/>
    <style>
      :root {
        --main-width: 48em;
      }

      .taglist {
        > a {
          display: inline-block;
          height: 1.6em;
          background: #203050;
          text-align: center;
          padding: 0.2em 0.6em;
          position: relative;
          margin-right: 1em;
          text-decoration: none;
          color: #fff;
        }
        > a::after {
          content: "";
          border-top: 0.8em solid transparent;
          border-bottom: 0.8em solid transparent;
          border-left: 0.8em solid #203050;
          position: absolute;
          right: -0.8em;
          top: 0;
        }
      }
      .nav2 {
        border-top: 1px solid #222222;
        border-bottom: 1px solid #222222;
        background-color: #dddddd;
        margin: 1em 0;
        padding: 0.5em;
        font-size: 0.8em;
        color: #666;
        @media print {
          display: none !important;
        }
      }
      dt {
        font-weight: bold;
        margin-top: var(--text-spacing);
      }
    </style>
    <title>{{ title }}</title>
    <script src="/sfc/loader.js"></script>
    <script>loadComponent('u-time')</script>
  </head>
  <body class="sitelayout">
    <header>
      <img class="logo" src="/img/logo.svg" alt="Give and Take - Create, Share, Search and Read" title="Give and Take - Create, Share, Search and Read"/>
      <a href="//www.mathertel.de" class="logo" title="Home">mathertel.de</a>
      <a href="/../arduino/" class="COLOR_ARDUINO">Arduino</a>
      <a href="/../homeding/" class="COLOR_IOT">HomeDing</a>
      <a href="/../blog/" class="COLOR_BLOG">Blog</a>
      <a href="/../archiv/" class="COLOR_ARCHIVE">Archive</a>
    </header>

    {#- no <aside> -#}

    <main>
      <p class="noprint" style="text-align: center; font-size: 0.8em">
        Thoughs and records on IoT, Web Sites and Microprocessors.
      </p>
      <h1 style="text-align: center">{{ title }}</h1>

      {%- if draft -%}
        <div class='warning text'>This post is marked as draft</div>
      {%- endif %}

      <div class="nav2">
        {%- if previous %}
          &lt;&lt; <a href="{{ previous.url }}">{{ previous.data.title }}</a>
        {%- endif %}
        {%- if previous and next %} &mdash; {%- endif %}
        {%- if next %}
          <a href="{{ next.url }}">{{ next.data.title }}</a> &gt;&gt;
        {%- endif -%}
      </div>

      {%- if image -%}
      <span style="display:block;width:240px;height:200px;float:left;margin:0 2em 1em 0">
        <img src="{{ image }}" style="width:100%;height:100%;object-fit: cover;"
        alt="{{ imageAlt }}" title="{{ imageAlt }}"/>
      </span>
      {%- endif %}

      {%- if outdated -%}<div class='warning'>This post is marked as outdated</div>{%- endif -%}

      {%- if description -%}
        {{ description | markdown | safe }}
      {%- endif -%}

        {{ content | safe }}

      {%- if tags -%}
        <h2>Tags</h2>
        <div class="taglist">
          {%- for tag in tags | unique -%}
            <a href="/tags/{{ tag  | lower }}.htm">#{{ tag }}</a>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="nav2">created on 
        <time is='u-time' datetime='{{ created | toISODate }}' datestyle='medium' timestyle='none'></time>
        {%- if modified -%}
          , last modified on <time is="u-time" datetime='{{ modified | toISODate }}' datestyle='medium' timestyle='none'>{{ modified | toISODate }}</time>
        {%- endif -%}
      </div>
    </main>
    <footer>
      <a href="/about.md">About</a>
      &mdash;
      <a href="https://www.mathertel.de/impressum.aspx">Legal Statement</a>
      &mdash;
      <a href="/license.htm">License</a>
    </footer>
  </body>
</html>