<blockquote class="noprint" style="border:1px solid #111111;padding: 0.5em;">
  <h3>This page is part of the series to setup a blog site using Eleventy.</h3>

  <ul>
    <li><a href="00-overview.htm">Eleventy - Overview</a></li>
    <li><a href="02-setup-win-nodejs.htm">Node.js on Windows 11</a></li>
    <li><a href="10-setup-vscode.htm">Set Up Visual Studio Code</a></li>
    <li><a href="12-eleventy-setup.htm">Eleventy Setup</a></li>
    <li><a href="20-metadata.htm">Metadata</a></li>
    <li><a href="21-links.htm">Filenames and Links</a></li>
  </ul>
</blockquote>
