---
title: Latest Blog Posts
layout: base
eleventyExcludeFromCollections: true
---

{%- from 'macros.njk' import postCard with context -%}

<div class="card-container horizontal" style="--card-image-size: 200px;--card-height: 200px;">
  {%- for post in collections.posts | reverse %}
    {% if post.data.outdated or lastDate < archiveDate %}
    {% else %}
      {{ postCard(post) }}
    {% endif %}
  {%- endfor %}
</div>
