---
title: Latest Blog Posts
layout: base
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

{# <ul>
{% for post in collections.posts reversed %}

{% capture lastDate %}{{ post.data.created | date: "%Y-%m-%d" }}{% endcapture %}
{% if post.data.modified %}{% capture lastDate %}{{ post.data.modified | date: "%Y-%m-%d" }}{% endcapture %}{% endif %}

{% if not post.data.outdated and lastDate > archiveDate %}
  <li><a href="{{post.url}}">{{ post.data.title }}</a> - {{ post.data.created | date: "%Y-%m-%d" }}</li>
{% endif %}

{% endfor %}
</ul> #}